<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="joinContainerFragments">

    <div class="join">
        <div class="join-con">
            <div class="join-pages">

                <form th:action="@{/member/join}" method="post">

                    <ul>

                        <li>
                            <label for="name">name</label>
                            name : <input type="text" name="name" id="name" placeholder="name">
                        </li>
                        <li>
                            <label for="age">name</label>
                            age : <input type="text" name="age" id="age" placeholder="age">
                        </li>
                        <li>
                            <label for="email">name</label>
                            email : <input type="text" name="email" id="email" placeholder="email">
                        </li>

                    </ul>
                    <input type="submit" value="submit">
                </form>
                
            </div>
            
        </div>
    </div>
</div>
</html>